/* CSS doc */
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  /* scroll-behavior: smooth; */
}

body {
  margin: 0;
  overflow-x: hidden;
}

/*---------- Homepage ---------- */
.background img {
  width: 100%;
  position: absolute;
  z-index: -1;
}

ul.container-animals {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5em;
  width: 100%;
  top: 60vh;
  position: absolute;

  list-style-type: none;
  flex-wrap: wrap;
}

.container-animals li.animal {
  transition: all 2s ease;
}

.container-animals li.animal:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all 2s ease;
}

.container-animals li.animal img:nth-child(2){
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.container-animals li.animal:hover img:nth-child(2){
  display: flex;
}

/* -------Lemming test slider page------- */
/* https://www.youtube.com/watch?v=9HcxHDS2w1s&ab_channel=WebDevSimplified */
/* .carousel {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.carousel > ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms ;
}

.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms ;
}

.carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 4rem;
  bottom: 0;
  transform: translateY(-50%);
  color: rgba(75, 71, 71, 0.9);
  cursor: pointer;
  border-radius: .25rem;
  padding: 0 0.5rem;
  background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover,
.carousel-button:focus{
    color: white;
    background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus{
    outline: 1px solid black;
}

.carousel-button.prev{
    left: 1rem;
}

.carousel-button.next{
    right: 1rem;
} */

/* ------- Lemming page test ------- */

/* .test {
  overscroll-behavior: none;
  height: 100vh;
} */

/* .container {
  display: flex;
  background-color: #7fa3b2; 
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}  */

/* body {
 overflow-x: hidden;
 }
 
 body,
 html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
 }  */


 .container {
   max-width: 100vw;
   max-height: 100vh;
   /* scroll-snap-type: y mandatory; */
 }

 .animation {
   display: flex;
   flex-direction: column;
   /* height: 100%; */
   /* display: flex; */

   /* scroll-snap-align: start; */
 }

 .animation > h1 {
   position: absolute;
   margin: 0 1em;
   top: 60px;
   z-index: 1;
   background-color: #ffcc00;
   padding: 0.25em 0.5em;
   font-size: 2em;
   font-family: Arial, Helvetica, sans-serif;
 }

#animationWindow,
#animationWindow2,
#animationWindow3 {
  width: 100%;
  height: 100%;
}

/* 
https://dev.to/jslim/fading-up-sections-using-intersection-observer-3fhj
*/
.fadeup {
  /* transform: translateY(50px); */
  opacity: 0;
  transition-property: opacity;
  /* transition-property: transform, opacity; */
  transition-duration: 1s;
  transition-timing-function: linear;
}

.in-view {
  /* transform: none; */
  opacity: 1;
  /* position: absolute;
  top:0;
  bottom:0; */
}